<div class="n">
<nav class="navbar navbar-expand navbar-light">
      <div  id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/c-home" routerLinkActive="active-link" style="color: white;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/c-menu" routerLinkActive="active-link" style="color: white;">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/c-about" routerLinkActive="active-link" style="color: white;">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/c-contact" routerLinkActive="active-link" style="color: white;">Contact</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav2">
          
            <ul class="navbar-nav">
            
              <li class="nav-item">
                <a href="/c-cart"><img src="https://media.istockphoto.com/vectors/shopping-cart-icon-vector-id1181590456?k=20&m=1181590456&s=170667a&w=0&h=EUJvyN7zXTiUaK1Jh5qKfjyQtH0jGgNP-p-JHJt8XaE=" style="width: 50px;height: 50px; padding-right: 5%;"></a>                
              </li>

              <li class="nav-item"><button type="button" style="background-color: red; padding: 5px 5px;" (click)="logout()" routerLink="">Logout</button></li>

            </ul>
        
      </div>
  </nav>
</div>  
