
<div class="img">
  <app-navbar></app-navbar>
<h2 style="color: yellow;text-align: center; padding-top: 2rem;">How can we help you <span style="color: rgb(239, 243, 10);">?</span></h2>

<div class="whole">
  <form action="https://formsubmit.co/samyuktha.gottimukkula5539@gmail.com" method="post">
  <div class="txt">
      <div>
        <input placeholder="name"><br/>
        <input placeholder="email" style="margin-top: 20px;"><br/>
        <input placeholder="mobile number"  style="margin-top: 20px;"><br/>
        <textarea placeholder="Leave a comment here..." style="width: 250px; height: 100px;margin-top: 20px;"></textarea>
      </div>
     <button type="submit"  style="padding: 5px 5px;background-color: green;" (click)="ms()">submit</button>
  </div>
  </form>

  <div class="cards">
      <div class="card">
        <div>
          <h2 style="padding-left: 5%;">Issue with Foodie<span style="color: red;">?</span></h2>
          <p style="font-size: medium;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;padding-left: 5%;">
            Click on the 'help' section to connect to our Pro support team.
          </p>
        </div>
        <div class="card-actions">
          <button style="padding: 5px 5px; margin-left: 5%;margin-bottom: 5%;">Help</button>
        </div>
      </div>


  </div>
</div>
</div>
