<div class="n">
    <nav class="navbar navbar-expand-lg navbar-light">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
  
              <li class="nav-item">
                <a class="nav-link" routerLink="/menulist" routerLinkActive="active-link" style="color: white;">MenuList</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/restaurant" routerLinkActive="active-link" style="color: white;">RestaurantList</a>
              </li>
              
            </ul>
          </div>
          <div class="nav2">
            <ul class="navbar-nav">
              <li class="nav-item"><button routerLink="" (click)="vlogout()" style="background-color:red;color: aliceblue;padding: 5px 5px;border-radius: 10%;">Logout</button></li>
            </ul>
          </div>
      </nav>
    </div>  
    