a:hover{
    
    font-weight: bold;
    font-size: 15px;
}
.n{
    position: sticky;
    top: 0%;
    padding-left: 5%;
    background: rgba(0,0,0,0.6);
}
nav{
    display: flex;
}
.nav2 ul{
   column-gap: 40px;
}